.container {
  padding: 10px;
}

.formUpdate {
  display: flex;
  flex-direction: column;
}

.tweetButton {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee',sans-serif;
}

.hummingAbout {
  border-bottom: black;
}

.counter {
  font-family: 'Bungee',sans-serif;
}

#tweet-text {
  border-bottom: solid;
  border: none;
  border-bottom: 4px solid;
  background-color: #f4f1ec;
  
}

#tweet-text::placeholder {
  color: black;  
  font-weight: 600;
}

.tweetNumber {
  display: flex;
  justify-content: space-between;
}

textarea {
  outline: none;
  
}