.articleTweets {
  background-color: #f4f1ec;
}

.footerTweets {
  background-color: #f4f1ec;
  display: flex;
  justify-content: space-between;
  font-size: medium;
  margin-top: 5px;
  
}

.tweetsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileImage {
  width: 50px;
  height: 50px;

}

.atName {
  font-size: large;
  color: #A9A9A9;
}

.namePic {
  display: flex;
  align-items: center;
}

.hoverEffect:hover {
  color: #0085cc;
}

.areaForTweets {
  border-bottom: solid;
  padding-bottom: 10px;
}

.tweetDiv {
  margin-bottom: 5px;
  background-color: #f4f1ec;
  border-style: solid;
  border-width: 2px;
  padding-top: 0;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.errLong {
  border-style: solid;
  border-width: 5px;
  color: red;
  font-size: 30px;
}

.errShort {
  border-style: solid;
  border-width: 5px;
  color: red;
  font-size: 30px;
}